/* Garis miring */

body {
    background-color: #353535;
    overflow-x: hidden;
}

/*
.hero {
    position: relative;
    height: 700px;
    background-image:  #353535;
}

svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    fill: #eaeaea;
}
*/


/* Section Miring */
* {
    margin: 0;padding: 0
  }

header {
    height: 650px
  }

header h1 {
    margin: 480px
  }

.service {
    background-color: #d2d3d7;height: 600px; text-align: right;
  }

.article {
    background-color: #ffffff;height: 2000px; 
    transform:rotate(-5deg) translateX(-10%);
    left: 10%;
  }

.container{
    margin: 1px;
    width: 800px;
}

.section-container{
    transform:rotate(5deg);
    margin: 1px;
    width: 800px;
}

section {
  width:120%;
  transform:rotate(-5deg) translateX(-10%);
  left: 10%;
  padding: 30px 0 ;
}

.section-container .bajuutama {
  margin-left: 230px;
  margin-top: 5px;
  border: 1px solid red;
}





/*  */
a .TopLogo {

    margin-right: 35px;
}

ul {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
    overflow: hidden;
    background-color: #353535;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    border: 1px solid red;
    margin-left: 0;

    font-family: dubu;
    font-size: 25px;
    font-weight: bold;

    letter-spacing: 3px;
  }
  
  li a:hover {
    background-color: #111;
  }

  ul a img{
      margin-left: 200px;
      border: 1px solid red;

  }

  li .active {
    margin-right: 150px;
  }

  @font-face {
    font-family: dubu;
    src: url(css/norwester.otf);
    font-weight: bold;
  }

  /*  */  

  .content {
    background-color: #ddd;
    padding: 10px;
    
  }